body {
  background-color: #FFFFFF;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #6045ff;
  text-align: center;
}

.es-text__info-description-header {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #383d4c;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 12px;
}

.es-text__info-description {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #383d4c;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
}
